.home {
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.searchField {
    display: flex;
    margin: 1em;
    gap: 1em;
    align-items: center;
}
#checkIcon {
    color: white;
}